/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.09.2017, 17:30:18
    Author     : Oleg K
*/

.fileform { 
    background-color: gold;
    color: blueviolet;
    border: 2px solid #888;
    border-radius: 6px;
    width: 260px;
}

#submit{
    font-size: 16px; 
    width: auto;
    border: 1px solid #888;
    border-radius: 6px;
    background-color: gainsboro;
    color: blueviolet;
}